*.rbc
*.sassc
.sass-cache
capybara-*.html
*.log
/.bundle
/vendor/bundle
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp
/spec/support/project_fixture/log/*.log
**.orig
rerun.txt
pickle-email-*.html
*.gem
Gemfile.lock
gemfiles/*.lock
.DS_Store
.ruby-version
bundle_and_spec_all_rbenv.sh
bundle_and_spec_all_rvm.sh
ext/libappsignal.*
ext/appsignal-agent
