*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
*.log
/.bundle
/vendor/bundle
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp
/spec/support/project_fixture/log/*.log
**.orig
rerun.txt
pickle-email-*.html
*.gem
Gemfile.lock
gemfiles/*.lock
.DS_Store
