*.rbc
*.sassc
.sass-cache
capybara-*.html
*.log
/doc
/.bundle
/vendor/bundle
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/examples.txt
/spec/tmp
/spec/support/project_fixture/log/*.log
**.orig
rerun.txt
pickle-email-*.html
*.gem
Gemfile.lock
gemfiles/*.lock
.DS_Store
.ruby-version
bundle_and_spec_all_*
ext/libappsignal.*
ext/appsignal-agent
ext/._appsignal-agent
ext/appsignal.h
ext/appsignal.version
ext/Makefile
ext/*.bundle
ext/*.o
ext/*.so
ext/*.report
pkg/
